{% extends 'template.html'%}


{% block body %}

<div id="about" class="container">
    <div class="row">
        <div class="col-sm-8">
            <h2><b>About MY Tutor Page</b></h2><br>
            <h4>This is about My Tutor.Here you can learn about Many programming skills.
                you can enhence your programming skill's knowledge by selecting
                your interested subject and here you can have basic idea of
                <b> Python,Html,JavaScript,Flask,Django </b> </h4>
            <br>
            <p>you can download videos or you can learn online.Also you can
                choose your private tutor who will teach you at your place or
                at online.If you want to join as a teacher give your CV to our mail <a href="#">
                    <span class="glyphicon glyphicon-envelope" style="color:orangered"></span></a></p>
            <br>
            <button class="btn btn-primary">Get in Touch</button>
        </div>
        <div class="col-sm-8">
            <span class="glyphicon glyphicon-signal logo"></span>
        </div>
    </div>
</div>

<div class="container- bg-grey">
    <div class="row">
        <div class="col-sm-4">

        </div>
        <div class="col-sm-8">
            <h2>Our Values</h2><br>
            <h4><strong>MISSION:</strong> Our mission lorem ipsum dolor sit amet, consectetur adipiscing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </h4><br>
            <p><strong>VISION:</strong> Our vision Lorem ipsum dolor sit amet, consectetur
                adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                nisi ut aliquip </p>
        </div>
    </div>
</div>

{% endblock %}
