{% extends 'template.html'%}


{% block body %}
<div id="html" class="container">
    <div class = "jumbotron text-center">
        <h1 style="color:cadetblue"><b>Basic Knowledge Of HTML</b></h1>
        <p>HTML stands for Hyper Text Markup Language, which is the most widely used language on Web to develop web pages.</p>
    </div>
</div>


<div class ="container-fluid">
        <div class="bk-tooltip-row">
            <div class ="col-md-offset-1 col-md-offset-4">
                <section>
                    <h2 class="left"><span class="left_h2">HTML5</span> Tutorial</h2>
                    <ul>
                        <li><a target="_top" href="https://www.w3schools.com/html/default.asp">HTML HOME</a></li>
                        <li><a target="_top" href="https://www.w3schools.com/html/html_intro.asp">HTML Introduction</a></li>
                        <li><a target="_top" href="https://www.w3schools.com/html/html_editors.asp">HTML Editors</a></li>
                        <li><a target="_top" href="https://www.w3schools.com/html/html_basic.asp">HTML Basic</a></li>
                        <li><a target="_top" href="https://www.w3schools.com/html/html_elements.asp">HTML Elements</a></li>
                        <li><a target="_top" href="https://www.w3schools.com/html/html_attributes.asp">HTML Attributes</a></li>
                        <li><a target="_top" href="https://www.w3schools.com/html/html_headings.asp">HTML Headings</a></li>
                        <li><a target="_top" href="https://www.w3schools.com/html/html_paragraphs.asp">HTML Paragraphs</a></li>
                        <li><a target="_top" href="https://www.w3schools.com/html/html_styles.asp">HTML Styles</a></li>
                        <li><a target="_top" href="https://www.w3schools.com/html/html_formatting.asp">HTML Formatting</a></li>
                        <li><a target="_top" href="https://www.w3schools.com/html/html_quotation_elements.asp">HTML Quotations</a></li>
                        <li><a target="_top" href="https://www.w3schools.com/html/html_comments.asp">HTML Comments</a></li>
                        <li><a target="_top" href="https://www.w3schools.com/html/html_colors.asp">HTML Colors</a></li>
                        <li><a target="_top" href="https://www.w3schools.com/html/html_css.asp">HTML CSS</a></li>
                        <li><a target="_top" href="https://www.w3schools.com/html/html_links.asp">HTML Links</a></li>
                        <li><a target="_top" href="https://www.w3schools.com/html/html_images.asp">HTML Images</a></li>
                        <li><a target="_top" href="https://www.w3schools.com/html/html_tables.asp">HTML Tables</a></li>
                        <li><a target="_top" href="https://www.w3schools.com/html/html_lists.asp">HTML Lists</a></li>
                        <li><a target="_top" href="https://www.w3schools.com/html/html_blocks.asp">HTML Blocks</a></li>
                        <li><a target="_top" href="https://www.w3schools.com/html/html_classes.asp">HTML Classes</a></li>
                        <li><a target="_top" href="https://www.w3schools.com/html/html_iframe.asp">HTML Iframes</a></li>
                        <li><a target="_top" href="https://www.w3schools.com/html/html_scripts.asp">HTML JavaScript</a></li>
                        <li><a target="_top" href="https://www.w3schools.com/html/html_filepaths.asp">HTML File Paths</a></li>
                        <li><a target="_top" href="https://www.w3schools.com/html/html_head.asp">HTML Head</a></li>
                        <li><a target="_top" href="https://www.w3schools.com/html/html_layout.asp">HTML Layout</a></li>
                        <li><a target="_top" href="https://www.w3schools.com/html/html_responsive.asp">HTML Responsive</a></li>
                        <li><a target="_top" href="https://www.w3schools.com/html/html_computercode_elements.asp">HTML Computercode</a></li>
                        <li><a target="_top" href="https://www.w3schools.com/html/html_entities.asp">HTML Entities</a></li>
                        <li><a target="_top" href="https://www.w3schools.com/html/html_symbols.asp">HTML Symbols</a></li>
                        <li><a target="_top" href="https://www.w3schools.com/html/html_charset.asp">HTML Charset</a></li>
                        <li><a target="_top" href="https://www.w3schools.com/html/html_urlencode.asp">HTML URL Encode</a></li>
                        <li><a target="_top" href="https://www.w3schools.com/html/html_xhtml.asp">HTML XHTML</a></li>
                    </ul>
                </section>
                <br>
                <section>
                    <h2 class="left"><span class="left_h2">HTML</span> Forms</h2>
                    <ul>
                        <li><a target="_top" href="https://www.w3schools.com/html/html_forms.asp">HTML Forms</a>
                        <li><a target="_top" href="https://www.w3schools.com/html/html_form_elements.asp">HTML Form Elements</a></li>
                        <li><a target="_top" href="https://www.w3schools.com/html/html_form_input_types.asp">HTML Input Types</a></li>
                        <li><a target="_top" href="https://www.w3schools.com/html/html_form_attributes.asp">HTML Input Attributes</a></li>
                    </ul>
                <br>
                </section>
                <section>
                    <h2 class="left"><span class="left_h2">HTML5</span></h2>
                    <ul>
                        <li><a target="_top" href="https://www.w3schools.com/html/html5_intro.asp">HTML5 Intro</a></li>
                        <li><a target="_top" href="https://www.w3schools.com/html/html5_browsers.asp">HTML5 Support</a></li>
                        <li><a target="_top" href="https://www.w3schools.com/html/html5_new_elements.asp">HTML5 New Elements</a></li>
                        <li><a target="_top" href="https://www.w3schools.com/html/html5_semantic_elements.asp">HTML5 Semantics</a></li>
                        <li><a target="_top" href="https://www.w3schools.com/html/html5_migration.asp">HTML5 Migration</a></li>
                        <li><a target="_top" href="https://www.w3schools.com/html/html5_syntax.asp">HTML5 Style Guide</a></li>
                    </ul>
                </section>
                <br>
                <section>
                    <h2 class="left"><span class="left_h2">HTML</span> Graphics</h2>
                    <ul>
                        <li><a target="_top" href="https://www.w3schools.com/html/html5_canvas.asp">HTML Canvas</a></li>
                        <li><a target="_top" href="https://www.w3schools.com/html/html5_svg.asp">HTML SVG</a></li>
                        <li><a target="_top" href="https://www.w3schools.com/html/html_googlemaps.asp">HTML Google Maps</a></li>
                    </ul>
                </section>
                <br>
                <section>
                    <h2 class="left"><span class="left_h2">HTML</span> Media</h2>
                    <ul>
                        <li><a target="_top" href="https://www.w3schools.com/html/html_media.asp">HTML Media</a></li>
                        <li><a target="_top" href="https://www.w3schools.com/html/html5_video.asp">HTML Video</a></li>
                        <li><a target="_top" href="https://www.w3schools.com/html/html5_audio.asp">HTML Audio</a></li>
                        <li><a target="_top" href="https://www.w3schools.com/html/html_object.asp">HTML Plug-ins</a></li>
                        <li><a target="_top" href="https://www.w3schools.com/html/html_youtube.asp">HTML YouTube</a></li>
                    </ul>
                </section>
                <br>
                <section>
                    <h2 class="left"><span class="left_h2">HTML</span> APIs</h2>
                    <ul>
                        <li><a target="_top" href="https://www.w3schools.com/html/html5_geolocation.asp">HTML Geolocation</a></li>
                        <li><a target="_top" href="https://www.w3schools.com/html/html5_draganddrop.asp">HTML Drag/Drop</a></li>
                        <li><a target="_top" href="https://www.w3schools.com/html/html5_webstorage.asp">HTML Local Storage</a></li>
                        <li><a target="_top" href="https://www.w3schools.com/html/html5_webworkers.asp">HTML Web Workers</a></li>
                        <li><a target="_top" href="https://www.w3schools.com/html/html5_serversentevents.asp">HTML SSE</a></li>
                    </ul>
                </section>
                <br>
                <section>
                <h2 class="left"><span class="left_h2">HTML</span> Examples</h2>
                    <ul>
                        <li><a target="_top" href="https://www.w3schools.com/html/html_examples.asp">HTML Examples</a></li>
                        <li><a target="_top" href="https://www.w3schools.com/html/html_quiz.asp">HTML Quiz</a></li>
                        <li><a target="_top" href="https://www.w3schools.com/html/html_exercises.asp">HTML Exercises</a></li>
                        <li><a target="_top" href="https://www.w3schools.com/html/html_exam.asp">HTML Certificate</a></li>
                        <li><a target="_top" href="https://www.w3schools.com/html/html_summary.asp">HTML Summary</a></li>
                    </ul>
                </section>
                <br>
                <section>
                    <h2 class="left"><span class="left_h2">HTML</span> References</h2>
                    <ul>
                        <li><a target="_top" href="https://www.w3schools.com/tags/default.asp">HTML Tag List</a></li>
                        <li><a target="_top" href="https://www.w3schools.com/tags/ref_standardattributes.asp">HTML Attributes</a></li>
                        <li><a target="_top" href="https://www.w3schools.com/tags/ref_eventattributes.asp">HTML Events</a></li>
                        <li><a target="_top" href="https://www.w3schools.com/tags/ref_colornames.asp">HTML Colors</a></li>
                        <li><a target="_top" href="https://www.w3schools.com/tags/ref_canvas.asp">HTML Canvas</a></li>
                        <li><a target="_top" href="https://www.w3schools.com/tags/ref_av_dom.asp">HTML Audio/Video</a></li>
                        <li><a target="_top" href="https://www.w3schools.com/tags/ref_html_dtd.asp">HTML Doctypes</a></li>
                        <li><a target="_top" href="https://www.w3schools.com/tags/ref_charactersets.asp">HTML Character Sets</a></li>
                        <li><a target="_top" href="https://www.w3schools.com/tags/ref_urlencode.asp">HTML URL Encode</a></li>
                        <li><a target="_top" href="https://www.w3schools.com/tags/ref_language_codes.asp">HTML Lang Codes</a></li>
                        <li><a target="_top" href="https://www.w3schools.com/tags/ref_httpmessages.asp">HTTP Messages</a></li>
                        <li><a target="_top" href="https://www.w3schools.com/tags/ref_httpmethods.asp">HTTP Methods</a></li>
                        <li><a target="_top" href="https://www.w3schools.com/tags/ref_pxtoemconversion.asp">PX to EM Converter</a></li>
                        <li><a target="_top" href="https://www.w3schools.com/tags/ref_keyboardshortcuts.asp">Keyboard Shortcuts</a></li>
                    </ul>
                </section>
            </div>
        </div>
</div>
<link rel ="stylesheet" type="text/css" href="{{url_for('static',filename = 'style.css')}}">


{% endblock %}
